<div class="p-col-12 p-md-12 p-lg-12 menu-bar border-green" style="height: 40px;">
  <div style="float: right;">
    <a class="menu-a" (click)="onLogout()">Skip to Main Content |</a>
  </div>
</div>
<div class="p-grid" style="height: 90px !important;">
  <div class="p-col-2 p-md-2 p-lg-2 no-pad-top">
    <div class="p-col-8 no-pad-bottom" style="text-align: center;">
      <img href="#default" class="logo" src="../../assets/images/header/govt_emblem.png" alt="logo"
        style="max-width: 135px; max-height: 56px;width: 75px;padding-right: initial;" />
    </div>
    <div class="p-col-6 no-pad-top" style="margin-top: -5px;">
      <img href="#default" class="logo no-pad-top" src="../../assets/images/header/logo.jpg" alt="logo"
        style="max-width: 120px; max-height: 60px;width: 120px;padding-right: initial;" />
    </div>
  </div>
  <div class="p-col-8 p-md-6 p-lg-8 no-pad-bottom" style="text-align: center;">
    <h1 class="header-h1">Tamilnadu State Marketing Corporation Ltd.</h1>
    <h2 class="header-h2">TASMAC - CCTV SURVEILLANCE SYSTEM - EMS</h2>
    <h3 class="header-h3">
      (A Government of Tamilnadu Undertaking)
    </h3>
  </div>
  <div class="p-col-2 p-md-4 p-lg-2 no-pad-bottom" style="padding-top: 12px !important;">
    <div style="float: right !important;">
      <span>HELP<i class="pi pi-question-circle"></i></span>&nbsp;&nbsp;
      <span style="padding-top: 15px !important;"> <i class="fa fa-user-circle-o fa-user"
          (click)="onProfileClicked($event, op)"></i></span>
    </div>
  </div>
</div>
<div class="p-col-12 p-md-12 p-lg-12 no-pad-left no-pad-right no-pad-bottom">
  <app-menubar></app-menubar>
</div>