<body class="login-body" >
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-12">
            <div class="login-container">
                <div class="login-content">
                    <div *ngIf="!clickedReset">
                        <div class="p-grid login-card border-green">
                            <div class="p-col-12 p-md-12 p-lg-12 bg-div login-bar">
                                <div class="no-pad-top p-grid" style="display: inherit !important;">
                                    <img href="#default" class="logo no-pad-top"
                                        src="../../assets/images/header/tasmac-transparent.png" alt="logo" style="padding-right: initial;margin-top: -12%;
                               width: 185px;
                              margin-bottom: -12%;" />
                                </div>
                                <div> <i class="fa fa-user-circle fa-3x"></i> </div>
                                <span>User Login</span>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12" style="background: whitesmoke;">
                                <div class="p-col-12 p-md-12 p-lg-12 txt-align">
                                    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <i class="fa fa-user fa-icon-customized"></i>
                                            <input type="text" class="no-pad-top" id="user" formControlName="user"
                                                pInputText [(ngModel)]="username" minlength="1" maxlength="30"
                                                autocomplete="off" autocomplete="off" required />
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <i class="fa fa-unlock-alt fa-icon-customized"></i>
                                            <input class="no-pad-top" type="password" id="pswd" formControlName="pswd"
                                                pInputText [(ngModel)]="password" minlength="1" maxlength="10"
                                                autocomplete="off" required />
                                        </div>
                                        <button pButton type="submit" label="login"
                                            class="p-button-raised p-btn-pad bg-div"
                                            icon="pi pi-sign-in" iconPos="right"
                                            [disabled]="!loginForm.valid"></button>
                                    </form>
                                    <div class="p-col-12 p-md-12 p-lg-12 txt-align">
                                        <div class="f-pwd-text cursor-pointer" (click)="openPwdReset()">Forget password?
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="resetPwdPanel" *ngIf="clickedReset">
                        <div class="p-grid login-card border-green">
                            <div class="p-col-12 p-md-12 p-lg-12 bg-div login-bar">
                                <div class="no-pad-top p-grid" style="display: inherit !important;">
                                    <img href="#default" class="logo no-pad-top"
                                        src="../../assets/images/header/tasmac-transparent.png" alt="logo" style="padding-right: initial;margin-top: -10%;
                               width: 150px;
                              margin-bottom: -10%;" />
                                </div>
                                <!-- <div> <i class="fa fa-user-circle fa-3x"></i> </div> -->
                                <span>Forget Password ?</span>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12" style="background: whitesmoke;">
                                <div class="p-col-12 p-md-12 p-lg-12">
                                    <form (ngSubmit)="onChangePassword()" [formGroup]="pwdResetForm">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <div class="label-text-color">
                                                <label for="oldPwd">Old Password</label>
                                            </div>
                                            <div class="no-pad-top">
                                                <input type="password" class="no-pad-top" id="oPwd"
                                                    formControlName="oldPwd" pInputText [(ngModel)]="oldPassword"
                                                    minlength="1" maxlength="10" autocomplete="off" required />
                                                <!-- <div class="alert alert-danger" *ngIf="oPwd.touched && oPwd.invalid"></div> -->
                                            </div>
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <div class="label-text-color">
                                                <label for="newPwd">New Password</label>
                                            </div>
                                            <div class="no-pad-top">
                                                <input class="no-pad-top" type="password" id="nPwd"
                                                    formControlName="newPwd" pInputText [(ngModel)]="newPassword"
                                                    minlength="1" maxlength="10" autocomplete="off" required />
                                                <!-- <div class="alert alert-danger" *ngIf="nPwd.touched && nPwd.invalid"></div> -->
                                            </div>
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <div class="label-text-color">
                                                <label for="newPwd">Confirm Password</label>
                                            </div>
                                            <div class="no-pad-top">
                                                <input class="no-pad-top" type="password" id="cPwd"
                                                    formControlName="confirmPwd" pInputText
                                                    [(ngModel)]="confirmPassword"
                                                    (input)="onValidatePwd(confirmPassword)" minlength="1"
                                                    maxlength="10" autocomplete="off" required />
                                            </div>
                                            <!-- <div class="alert alert-danger" *ngIf="cPwd.touched && cPwd.invalid">*Password is required</div> -->
                                            <div class="alert alert-danger" *ngIf="showPwdNoMatchErr" style="padding-top: 5px;">*Password mismatches!</div>
                                        </div>
                                        <div class="txt-align">
                                            <button pButton type="submit" label="Change Password"
                                                class="p-button-raised p-btn-pad bg-div"
                                                [disabled]="!pwdResetForm.valid && showPwdNoMatchErr"></button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
