@import '../node_modules/primeng/resources/themes/saga-green/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
/* @import '../node_modules/primeflex/primeflex.css'; */
@import url("http://fonts.googleapis.com/css?family=Oswald");
/* @import '../node_modules/font-awesome/css/font-awesome.min.css'; */
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    position: relative;
  
  }

  .p-component {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;

  }

  .p-component :root {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;

  }

  .card {
    box-shadow: 0 4px 8px 0 rgb(102 100 100 / 51%), 0 6px 20px 0 rgb(0 0 0 / 34%);
    border: lightgray 1px solid;
  }

  .header-h1 {
    /* color: #32CD32 !important; */
    color: #ce0000;
    font-size: 32px;
    margin-top: -10px !important;
    margin-bottom: 0px !important;
    font-weight: normal;
  } 

  .header-h2 {
    color: #ce0000;
    font-size: 20px;
    margin-top: -2px !important;
    margin-bottom: 0px !important;
    font-weight: normal;
  }

  .header-h3 {
    font-weight: normal;
    /* color: #32CD32 !important; */
    color: #ce0000;
    font-size: 18px;
    padding-top: 0px !important;
    margin-top: -2px !important;
    /* margin-left: 4.3em; */
}

@media screen and (max-width: 775px) {
  .hidden{
    display: none !important;
  }
  .show{
    display: flex !important;
  }
}

@media screen and (min-width: 775px) {
  .hidden{
    display: flex !important;
  }
  .show{
    display: none !important;
  }
}

@media only screen and (max-width: 1150px) {
  .header-h3 {
      font-size: 18px;
  }

  .header-h2 {
    font-size: 18px;
  }

  .header-h1 {
  font-size: 30px;
  padding-left: 15px;
  text-align: left;
  }
}

  @media only screen and (max-width: 1100px) {
    .header-h3 {
        font-size: 18px;
    }
    .header-h2 {
      font-size: 18px;
    }
    .header-h1 {
    font-size: 25px;
    padding-left: 15px;
    text-align: left;
    }
  }

  @media only screen and (max-width: 990px) {
    .header-h3 {
    font-size: 16px;
    margin-left: -70px !important;

    }
    .header-h2 {
      font-size: 17px;
      margin-left: -70px;
        }
    .header-h1 {
    font-size: 21px;
    margin-left: -15%;
    }
  }

  /* @media only screen and (max-width: 935px) {
    .header-h3 {
        font-size: 17px;
        margin-left: 0px !important;
    }

    .header-h1 {
    font-size: 22.4px;
    margin-left: -15%;
    }
  } */
  @media only screen and (max-width: 935px) {
    .header-h3 {
        font-size: 15px;
        margin-left: -50px !important;
      }
    .header-h2 {
      font-size: 16px;
      margin-left: -50px !important;
    }
    .header-h1 {
    font-size: 19.5px;
  }
  }
  @media only screen and (max-width: 856px) {
    .header-h3 {
      font-size: 14px;
    }
    .header-h2 {
      font-size: 15px;
    }
    .header-h1 {
    font-size: 18px;
    }
  }
  @media only screen and (max-width: 700px) {
    .header-h3 {
        font-size: 12.5px;
        padding-left: 15px;
    }
    .header-h2 {
      font-size: 12px;
      padding-left: 5px !important;
        }
    .header-h1 {
    font-size: 15px;
    padding-left: 50px !important;
  }
  }
  @media only screen and (max-width: 600px) {
    .header-h3 {
        font-size: 11px;
        padding-left: 0px;
        margin-left: 5px;

    }
    .header-h2 {
      font-size: 11.5px;
      padding-left: 25px !important;
    }
    .header-h1 {
    font-size: 14.5px;
    margin-left: -10px;
    padding-left: 0px !important;
  }
  }
  @media only screen and (max-width: 525px) {
    .header-h3 {
      font-size: 10px;
      text-align: center;
      padding-left: 35px;
    }
    .header-h2 {
      font-size: 13px;
    }
    .header-h1 {
    font-size: 17px;
    margin-left: 25px;

    }
  }
  @media only screen and (max-width: 410px) {
    .header-h3 {
        font-size: 11px;
        text-align: center;

    }
    .header-h2 {
      font-size: 12.5px;
    }
    .header-h1 {
    font-size: 15px;
    margin-left: 25px;

    }
  }

  .fa-user{
    color: #809481 !important;
    font-size: 2.3em;
  }

  .p-menubar {
    padding: 0 !important;
    background: #157110;
    font-size: 0.95rem;
    color: #464b50;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: whitesmoke;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: whitesmoke !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
  color: whitesmoke !important;
  margin-right: 0.5rem;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-icon {
  color: whitesmoke !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: whitesmoke !important;
}

.p-menubar .p-submenu-list {
  padding: 0.25rem 0;
  background: #3d8c40;
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  width: 12.5rem;
}

.pi-angle-down:before {
  content: "\e930";
  color: whitesmoke !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    padding: 0.75rem 1rem;
    color: #495057;
    border-radius: 3px;
    transition: box-shadow 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p-menubar .p-menuitem-link {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
.p-menubar .p-menuitem-link {
    padding: 0.75rem 1rem;
    color: #495057;
    border-radius: 0;
    transition: box-shadow 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.p-ripple {
    overflow: hidden;
    position: relative;
}
.p-component, .p-component * {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
li {
    text-align: -webkit-match-parent;
}
.p-menubar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    list-style-type: disc;
}
.p-menubar {
    padding: 0 !important;
    background: #157110;
    font-size: 0.95rem;
    color: whitesmoke !important;
}
.p-component {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #499b4d !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: whitesmoke !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
  background: #499b4d !important;
}

.p-menubar .p-menuitem-link .p-menuitem-text {
  color: whitesmoke !important;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: whitesmoke !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: whitesmoke !important;
}

.p-menubar .p-menuitem-text {
  line-height: 0.5;
}
  .menu-bar{
      background: #157110;
      font-size: 0.95rem;
      color: #464b50;
      /* font-family: var(--font-family); */
  }

  .menu-icons {
    font-size: 0.95rem !important;
  }

  .menu-bar-label {
    width: 120px !important;
    padding: 10px 2px 2px 10px;
  }

  .menu-label-splitter {
    border-width: 0px 1.2px 0px 0px;border-style: solid; border-color: white;
  }

  .padding-gap{
    padding-top: 15px !important;
  }

  .login-body{
    background: rgb(42 49 43 / 76%);
    margin-bottom: 7px;
    height: 600px;
  }

  .f-pwd-text {
    color: green;
    font-size: smaller;
    text-decoration: underline;
  }

  .p-btn-pad {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .no-pad{
    padding: 0px !important;
  }

  .no-pad-top {
    padding-top: 0px !important
  }

  .no-pad-left {
    padding-left: 0px !important;
  }

  .no-pad-bottom {
    padding-bottom: 0px !important;
  }

  .no-pad-right {
    padding-right: 0px !important;
  }

  .bg-div {
    /* background: rgb(104, 206, 3); */
    /* background: rgb(104, 206, 3); */
    /* background: #14af0b; */
    background: #157110;
    border: 1px solid rgb(126 214 38);
  }

  .login-card {
    box-shadow: 0px 8.2px 12px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.42);
  }

  .login-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    margin-top: 5% ;
  }

  .login-bar {
    text-align: center;
    color: white;
    padding: 12px !important;
  }

  .txt-align {
    text-align: center !important;
  }

  .fa-icon-customized {
    color: #5d695d !important;
    font-size: 1.2em;
    padding-right: 2.5px !important;
}
  
  form {
    width: 100%;
  }
  
  .login-content {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  
  .login-toolbar {
    justify-content: center;
  }
  
  .mat-form-field {
    width: 100%;
    display: block;
  }
  
  .mat-raised-button {
    width: 100%;
    margin-top: 15px;
  }

  .mat-toolbar.mat-primary {
    background: #3f51b5;
    color: white;
    /* background: rgb(104, 206, 3); */
    background: #157110;
    /* background: #14af0b; */
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  color: white; 
  /* background: rgb(104, 206, 3); */
 /* background: #14af0b; */
 background: #157110;
}

.home-bg{
  background-color: rgb(194, 189, 189) !important;
  margin-left: 35px; margin-right: 35px;
  margin-top: 8px;
  height: auto;
}
  
html, body { height: 100%; background-color: rgb(194, 189, 189); }
body { margin: 0px; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; }

.cursor-pointer{
  cursor: pointer !important;
}

.p-panel .p-panel-header {
  border: 1px solid rgb(194 241 147);
  padding: 0.38rem;
  /* background: #f8f9fa; */
  /* background: rgb(194 241 147); */
  background: #9dca71;
  color: #495057;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.menu-a {
  text-decoration: none !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
  color: white;
}

.footer-bg {
  /* background: rgb(104, 206, 3); */
  /* background: rgb(104, 206, 3); */
  /* background: #14af0b; */
  background: #157110;
  color: white;
}

.label-text-color {
  color: #000000cc !important;
  font-size: 14px;
}

.header-line {
  color: #87888a !important;
  text-decoration: underline !important;
  font-size: 18px;
  text-align: center !important;
  font-weight: 400;
}

.p-calendar-w-btn .p-inputtext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 1px;
  padding-right: 0px;
  text-align: start;
}

.p-button {
  color: #ffffff;
  background: #4CAF50;
  border: 1px solid #4CAF50;
  padding: 0.5rem 1rem;
  font-size: 0.92rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
}

.p-button.p-button-icon-only {
  width: 2.18rem;
  padding: 0.5rem 0;
}

.alert {
  font-size: 12px !important;
}

.alert-danger {
  color: #ff3122;
}

.page-content {
 background-color: white !important;
}

.border-green {
  border: 0.03px #a4d27d solid;
}

.border-grey {
  border: 1px solid #dee2e6;
  height: 40px;
}

.align-center{
  align-items: center !important;
}

.pi-times{
  color: white;
}

.sidebar {
  color: white !important;
}

.sidebar-pad-left {
  padding-left: 30px !important;
}

.sidenav-items {
  padding-bottom: 15px !important;
}

.sidenav-content :hover, .sidenav-content :hover a {
  background: rgb(186, 243, 147);
  border-radius: 2.5px;
  color: black !important;
}

.pad-left {
  padding-left: 5px;
}

.p-datatable table {
  border-collapse: collapse;
  border: 0.62px solid #dae6db;
  width: 100%;
  table-layout: fixed;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 0.5rem 0.5rem;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #495057;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}

.p-paginator {
  background: #ffffff;
  color: #6c757d;
  border: solid #e9ecef;
  border-width: 0;
  /* padding: 0.5rem 1rem; */
  padding: 0px !important;
  border-radius: 3px;
}

.spinner {
  position:fixed;top:50%;left:46%
}





/* .p-toast .p-toast-message .p-toast-message-content {
    padding: 1rem;
    border-width: 0 0 0 6px;
} */
.p-toast .p-toast-message.p-toast-message-error {
  padding: .5em 1em;
  background: crimson;
    border: solid #fa7482;
    border-width: 0 0 0 6px;
    color: black;
}

.p-toast .p-toast-message.p-toast-message-success {
  padding: .5em 1em;
  background: #15c415;
  border: solid #61f561;
  border-width: 0 0 0 6px;
  color: black;
}

.p-toast .p-toast-message.p-toast-message-warn {
  padding: .5em 1em;
  background: #e6990b;
  border: solid #f8ba46;
  border-width: 0 0 0 6px;
  color: black;
}

/* .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1; 
  align-items: initial !important;
}

.navbar-light .navbar-brand {
  color: whitesmoke;
}

.nav-item li {
  padding: 5px;
  border-radius: 5px;
}

.nav li a:hover {
  color: white !important;
 }
 .navbar a:hover {
  color: white !important;
 }

 .navbar{
   color: whitesmoke !important;
 } */