<body class="home-bg">
    <div class="p-grid card page-content border-green">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad">
            <app-topbar></app-topbar>
        </div>
        <div class="p-col-12 p-md-12 p-lg-12 border-green" style="min-height:450px;">
            <p-panel>
                <p-header>
                    <div class="ui-g panel-header">New Ticket
                        <!-- <div class="ui-g-12" style="float: right;">Reporter - Subash</div> -->
                    </div>
                </p-header>
                <p-toast position="top-center" key="t-err"></p-toast>
                <p style="text-align: center;">
                    Before reporting a Ticket, Please read the ticket writing guidelines, Please look at the list of
                    most
                    frequently reported tickets and check for the Ticket.
                </p>
                <div class="p-grid card" style="padding: 15px 0px 15px 0px;">
                    <!-- <div class="card"> -->
                    <div class="p-col-12 p-md-4 p-lg-1"></div>
                    <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label for="loc" class="label-text-color">Location</label>
                        </div>
                        <p-dropdown #loc name="loc" [options]="locationOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="location"
                            (onClick)="onSelect('L')" (onChange)="onResetFields('L')" required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label for="rname" class="label-text-color">Regional Office</label>
                        </div>
                        <p-dropdown #reg name="rname" [options]="regionOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="rcode" (onClick)="onSelect('R')"
                            (onChange)="onResetFields('RM')" filter="true" resetFilterOnHide="true"
                            filterMatchMode="startsWith" [disabled]="disableRM" required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label for="dname" class="label-text-color">District Office</label>
                        </div>
                        <p-dropdown #dist name="dname" [options]="districtOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="dcode" (onClick)="onSelect('D')"
                            filter="true" resetFilterOnHide="true" filterMatchMode="startsWith" [disabled]="disableDM"
                            required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label class="label-text-color" for="shopcd">Shop Number</label>
                        </div>
                        <p-dropdown #shop name="shop" [disabled]="disableShop" [options]="shopOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="shopCode" filter="true"
                            (onClick)="onSelect('S')" resetFilterOnHide="true" filterMatchMode="startsWith"
                            optionLabel="label" required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label for="comp" class="label-text-color">Component</label>
                        </div>
                        <p-dropdown #comp name="comp" [disabled]="!location" [options]="componentOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="compId" filter="true"
                            (onClick)="onSelect('C')" resetFilterOnHide="true" optionLabel="label"
                            filterMatchMode="startsWith" required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-1"></div>

                    <!-- <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label for="reg" class="label-text-color">Region</label>
                        </div>
                        <p-dropdown #reg name="region" [options]="regionOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="rcode" (onClick)="onSelect('R')"
                            (onChange)="onResetFields('R')" required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label for="district" class="label-text-color">District</label>
                        </div>
                        <p-dropdown #district name="district" [options]="districtOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="dcode" (onClick)="onSelect('D')"
                            required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label for="product" class="label-text-color">Product</label>
                        </div>
                        <p-dropdown #product name="product" [options]="productOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="Product" (onClick)="onSelect('P')"
                            (onChange)="onResetFields('P')" required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label for="component" class="label-text-color">Component</label>
                        </div>
                        <p-dropdown #comp name="component" [options]="componentOptions"
                            [style]="{'width':'-webkit-fill-available'}" [(ngModel)]="Component"
                            (onClick)="onSelect('C')" (onChange)="onResetFields('C')" (keyup.shift.tab)="onSelect('C')"
                            filter="true" resetFilterOnHide="true" filterMatchMode="startsWith"
                            (keyup.tab)="onSelect('C')" [showClear]="true" name="component" pTooltip="Enter your Com"
                            required>>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div> -->

                    <div class="p-col-12 p-md-4 p-lg-1"></div>
                    <div style="padding-top: 4vh;" class="p-col-12 p-md-4 p-lg-2">
                        <span class="p-float-label">
                            <input class="p-col-12" id="float-input" size="30" pInputText [(ngModel)]="Assignee"
                                type="text" pTooltip="Enter your Address1" autocomplete="off" tabindex="3">
                            <label for="float-input">Assignee</label>
                        </span>
                    </div>
                    <div style="padding-top: 4vh;" class="p-col-12 p-md-4 p-lg-2">
                        <div class="p-float-label">
                            <input class="p-col-12" id="float-input" size="30" pInputText [(ngModel)]="DefaultCC"
                                type="text" pTooltip="Enter your Address1" autocomplete="off" tabindex="3">
                            <label for="float-input">Default CC</label>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-2">
                        <div>
                            <label for="comp" class="label-text-color">Status</label>
                        </div>
                        <p-dropdown #status [options]="StatusOptions" [style]="{'width':'-webkit-fill-available'}"
                            [(ngModel)]="Status" (onClick)="onSelect('S')" placeholder="-Select-" required>
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div style="padding-top: 4vh;" class="p-col-12 p-md-4 p-lg-4">
                        <div class="p-float-label">
                            <textarea [(ngModel)]="ComponentDescription" rows="1" cols="59" pInputTextarea></textarea>
                            <label for="float-input">Component Description</label>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-1"></div>
                    <div class="p-col-12 p-md-4 p-lg-1"></div>

                    <div style="padding-top: 2vh;" class="p-col-12 p-md-4 p-lg-4">
                        <div class="p-float-label">
                            <input class="p-col-12" id="float-input" size="30" pInputText [(ngModel)]="URL" type="text"
                                pTooltip="Enter your Address1" autocomplete="off" tabindex="3">
                            <label for="float-input">URL</label>
                        </div>
                    </div>
                    <div style="padding-top: 2vh;" class="p-col-12 p-md-4 p-lg-6">
                        <div class="p-float-label">
                            <input class="p-col-12" id="float-input" size="30" pInputText [(ngModel)]="Subject"
                                type="text" pTooltip="Enter your Address1" autocomplete="off" tabindex="3">
                            <label for="float-input">Subject</label>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-1"></div>
                    <div class="p-col-12 p-md-4 p-lg-1"></div>
                    <div class="p-col-12 p-md-4 p-lg-6">
                        <div>
                            <label class="label-text-color">Ticket Description</label>
                        </div>
                        <textarea [(ngModel)]="TicketDescription" rows="5" cols="80" pInputTextarea></textarea>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-1" style="margin-top: 15vh;">
                        <button pButton type="submit" label="Submit" class="p-button-raised p-btn-pad bg-div" icon=""
                            iconPos="right"></button>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-2" style="margin-top: 15vh;">
                        <button pButton type="submit" label="Add an Attachment" class="p-button-raised p-btn-pad bg-div"
                            icon="" iconPos="right"></button>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</body>
<div class="no-pad" style="margin-left: 15px; margin-right: 15px;">
    <app-footer></app-footer>
</div>